.kotak {
	width: 100px;
	height: 100px;
	background-color: #000033;
	line-height: 90px;
	text-align: center;
	color: white;
	font-style: arial;
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
}

.kotak:hover {
	width: 400px;
	height: 400px;
	background-color: pink;
	line-height: 500px;
	font-size: 50px;
	left: 600px;
	top: 300px;
	border-radius: 2000px;
	box-shadow: 0 0 500px rgba(0,0,0,1);
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}