.kont {
	width: 98,8%;
	height: 280px;
	background-color: #9ac2ff;
	margin: 20px 50px auto;
	position: relative;
}

.obj-kont-1 {
	width: 100%;
	height: 60px;
	background-image: url(../assets/images/jalan.png);
	background-position: bottom;
	background-repeat: repeat;
	position: absolute;
	top: 275px;
	z-index: 2;
	-moz-animation: kont-1 2s infinite linear;
	-webkit-animation: kont-1 2s infinite linear;
	animation: kont-1 2s infinite linear;
}

@-moz-keyframes kont-1 {
	from {background-position: 0 0;}
	to {background-position: -190px 0;}
}

@-webkit-keyframes kont-1 {
	from {background-position: 0 0;}
	to {background-position: -190px 0;}
}

.obj-kont-2 {
	width: 100%;
	height: 211px;
	background-image: url(../assets/images/gedung.png);
	background-position: bottom;
	background-repeat: repeat;
	position: absolute;
	top: 80px;
	z-index: 1;
	-moz-animation: kont-2 13s infinite linear;
	-webkit-animation: kont-2 13s infinite linear;
	animation: kont-2 13s infinite linear;
}

@-moz-keyframes kont-2 {
	from {background-position: 0 0;}
	to {background-position: -400px 0;}
}

@-webkit-keyframes kont-2 {
	from {background-position: 0 0;}
	to {background-position: -400px 0;}
}

.obj-kont-3 {
	width: 150px;
	height: 63px;
	background-image: url(../assets/images/super.png);
	background-repeat: no-repeat top center;
	position: absolute;
	top: 100px;
	left: 40%;
	z-index: 3;
	-moz-animation: kont-3 3s infinite linear;
	-webkit-animation: kont-3 8s infinite linear;
	animation: kont-3 5s infinite linear;
}
@-moz-keyframes kont-3 {
	0%{top: 20px;}
	50%{top: 42px;}
	100%{top: 20px;}
}	

@-webkit-keyframes kont-3 {
	0%{top: 20px;}
	50%{top: 42%;}
	100%{top: 20px;}
} 